/* #spare_time div p { color: purple; }
#dance { color: black; }
p { color: red !important;}
.hobby { color: yellow; }
.interest { color: blue; }
#spare_time {display: none;}*/

body {
	background: #000;
}
.reveal p,
.reveal div,
.reveal h2,
.reveal h3,
.reveal section {
	font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif !important;
}

.reveal h2{
	padding: 0.5em 0;
	border-top: 3px solid #f04e98;
	border-bottom: 3px solid #f04e98;
}
.reveal h3 {
	border-bottom: 3px solid #f04e98;
	padding: 0.5em 0;
}
.agenda-table {
	border-spacing: 0;
	border-collapse: collapse;
}
.agenda-table td {
	font-size: 30px;
	padding: 15px 0;
	border: 1px solid #f04e98;
}
.three-technical {
	list-style: none;
}
.three-technical li {
	list-style: none;
	background-color: #f6eb61;
	padding: 40px;
	margin: 10px;
	color: #333;
}
.agenda-for-3days {
	list-style:none;

}
.agenda-for-3days li {
	margin-top: 10%;
	float: left;
	list-style: none;
	margin: 20px;
}

.agenda-for-3days li a:hover {
	text-decoration: underline;
}
.font-pink {
	color: #f04e98;
}
.font-red {
	color: red;
	font-weight: bold;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.what-is-html {
	text-align: left;
}
.what-is-html strong {
	color: #f04e98;
}
